# Xcode
DerivedData/
xcuserdata/
*.xcuserstate

# SwiftPM
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Others
*.swp
*.lock
.DS_Store
